<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Httper</title>
        <link rel="Shortcut Icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="/static/css/semantic.min.css">
        <link rel="stylesheet" href="/static/css/mail.css">
    </head>
    <body>
        <div class="ui container">
            <h2 id="app-name" class="ui center aligned header">Httper</h2>
            <div id="message-content" class="ui card">
                <div class="content">
                    <div class="header">Reset Your Password</div>
                </div>
                <div class="content">
                    <h4 class="ui header">Dear Meng Li,</h4>
                    <div class="ui small feed">
                        <div class="event">
                            <div class="content">
                                <div class="summary">We send this mail to you, because you have sent a request for resetting your password for Httper.</div>
                            </div>
                        </div>

                        <div class="ui form">
                            <div class="field">
                                <label>Your New Password</label>
                                <input type="text" placeholder="joe@schmoe.com">
                                <button class="ui submit button basic grey">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="event">
                        <div class="content">
                            <div class="summary">If you did not send such request, just ignore this mail.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui vertical footer segment">
                <div class="ui center aligned container">
                    <img src="/static/images/logo.png" class="ui centered mini image rounded">
                    <div class="ui horizontal small divided link list">
                        <a class="item" href="http://httper.mushare.cn" target="_blank">MuShare Group © 2015 - 2017. All Rights Reserved.</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>