<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Httper</title>
        <link rel="Shortcut Icon" href="http://httper.mushare.cn/static/images/favicon.ico">
        <link rel="stylesheet" href="http://httper.mushare.cn/static/css/semantic.min.css">
        <link rel="stylesheet" href="http://httper.mushare.cn/static/css/mail.css">
    </head>
    <body>
        <div class="ui container">
            <h2 id="app-name" class="ui center aligned header">Httper</h2>
            <div id="message-content" class="ui card">
                <div class="content">
                    <div class="header">Reset Your Password</div>
                </div>
                <div class="content">
                    <h3 class="ui header">Dear #{username},</h3>
                    <div class="ui small feed">
                        <div class="event">
                            <div class="content">
                                <h4>We send this mail to you, because you have sent a request for resetting your password of Httper.</h4>
                            </div>
                        </div>
                        <div class="event">
                            <div class="content">
                                <h4>You can reset your password by clicking this button.</h4>
                                <a href="#{link}" class="ui submit button primary">Reset Password</a>
                                <h4>If you cannot open it, please copy this link and open it in your browser: </h4>
                                <a href="#{link}">#{link}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="event">
                        <div class="content">
                            <div class="summary">If you did not send such request, just ignore this mail.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui vertical footer segment">
                <div class="ui center aligned container">
                    <img src="http://httper.mushare.cn/static/images/logo.png" class="ui centered mini image rounded">
                    <div class="ui horizontal small divided link list">
                        <a class="item" href="http://httper.mushare.cn" target="_blank">MuShare Group © 2015 - 2017. All Rights Reserved.</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>